{% extends "layout/layout.html" %}
{% block content %}

<a href="/">Back to listing</a>
<h1>Edit form</h1>

<div class="row">

             <h3>General details</h3>

             <form method="post" class="form-horizontal" action="/form/edit/{{ form.id }}/general">

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form_name">Id of the form</label>
                  <div class="col-sm-10">
                    <p>#{{ form.id }}</p>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form_name">Name</label>
                  <div class="col-sm-10">
                    {{ field_generator.text('form_name',form.form_name, 'Name of the form')|raw }}
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form_name">Redirect URL</label>
                  <div class="col-sm-10">
                    {{ field_generator.text('redirect',form.redirect, 'Where to go after submitting')|raw }}
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form_name">Date of creation</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{ form.created_at }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form_name">Date of last modification</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{ form.updated_at }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="submit_general"></label>
                  <div class="col-sm-10">
                    <input id="submit_general" type="submit" value="Edit general details" />
                  </div>
                </div>
                
             </form>

             <h3>Contacts</h3>

             <form method="post"  class="form-horizontal" action="/form/edit/{{ form.id }}/contacts">
              {% for c in contacts %}
                <h4>Contact #{{ loop.index0+1 }} - <a href="/form/edit/{{ form.id }}/contacts/remove/{{ c.id }}">Delete contact</a></h4>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="contact_name">Contact name</label>
                  <div class="col-sm-10">
                    {{ field_generator.text('contact_name_' ~ c.id,c.contact_name,'Name of the contact')|raw }}
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2 control-label" for="{{ c.contact_email }}">Contact e-mail</label>
                  <div class="col-sm-10">
                    {{ field_generator.text('contact_email_' ~ c.id,c.contact_email,'e-mail address of the contact')|raw }}
                  </div>
                </div>
              {% endfor %}

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="submit_contacts"></label>
                  <div class="col-sm-10">
                    <input id="submit_contacts" type="submit" value="Edit contacts" />
                    <a href="/form/edit/{{ form.id }}/contacts/add">Add new contact</a>
                  </div>
                </div>
              
             </form>


             <h3>Fields</h3>

              <form method="post"  class="form-horizontal" action="/form/edit/{{ form.id }}/fields">


              {% for f in fields %}

              <h4>Field #{{ loop.index0+1 }}</h4>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="field_name">Name of the field</label>
                  <div class="col-sm-10">
                    {{ field_generator.text('field_name_' ~ f.id,f.field_name,'A fancy name of for the field', '')|raw }}
                  </div>
                </div>

                {# ==== Type of the field section ==== #}
                
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="field_type">Type of the field</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{ f.getTypeString() }}</p>
                  </div>
                </div>

                
                
                {# ==== End of type of the field section ==== #}

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="field_name">Placeholder</label>
                  <div class="col-sm-10">
                    {{ field_generator.text('placeholder_' ~ f.id,f.placeholder,'This will be the placeholder for the field')|raw }}
                  </div>
                </div>


              {% endfor %}


                <div class="form-group">
                  <label class="col-sm-2 control-label" for="submit_fields"></label>
                  <div class="col-sm-10">
                    <input id="submit_fields" type="submit" value="Edit fields" />
                  </div>
                </div>


              </form>
          
    </div>
</div>
{% endblock %}