{% extends "layout/layout.html" %}
{% block content %}
<h1>Listing</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

              <div class="panel-heading">Forms</div>

              <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Responses</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for f in forms %}
                <tr>
                    <td>{{ f.id }}</td>
                    <td>{{ f.form_name }}</td>
                    <td>{{ f.responses }}</td>
                    <td><a href="/form/edit/{{ f.id }}">Edit form</a></td>
                    <td><a href="/form/responses/{{ f.id }}">View responses</a></td>
                    <td><a href="/form/delete/{{ f.id }}">Delete form</a></td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>  
                      <p><a href="/form/new">Add new form</a></p>
    </div>
</div>
{% endblock %}