<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{% endblock %} ~ HF Forms</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="{{ base_path }}/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ base_path }}/css/forms.css" rel="stylesheet">
</head>
<body>
<div class="container">

{% block content %}{% endblock %}
</div>

<script src="{{ base_path }}/js/jquery.min.js"></script>
<script src="{{ base_path }}/js/functions_main.js"></script>
</body>
</html>